* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Estilos de la barra de navegación */
  .navbar {
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 2rem;
  }
  
  .nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .nav-list i {
    margin-right: 0.5rem;
  }
  
  .nav-list a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  /* Estilo para el icono de menú en dispositivos móviles */
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle i {
    font-size: 1.8rem;
    color: #fff;
  }
  
  /* Media query para pantallas pequeñas (móviles) */
  @media screen and (max-width: 768px) {
    .nav-list {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: start;
      background-color: #333;
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      padding: 1rem 0;
    }
  
    .nav-list.active {
      display: flex;
    }
  
    .nav-list li {
      margin: 0.5rem 0;
      margin-left: 2rem;
    }
  
    .menu-toggle {
      display: block;
    }
  }