/*Selector universal*/
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Selector de elemento*/
h1{
    text-align: center;
}
h1,h2,h3{
    color: red;
}

p{
    text-align: justify;
    color: green;
}

/*selector de clase*/
.destacado1,.destacado2{
     color: blue;

}

/*Selector id*/
#selectorid{
    color: blueviolet;
}

/*Selector de atributo*/
a[target]{
border: 3px solid red;
}


/*Selector de Pseudo-clase*/
a:hover{
    font-size: 20px;
    color: green;
}
