body{
    font-family: sans-serif;}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>*{
   padding: 10px; 
   margin: 10px;
   flex: 1 100%;
   border-radius: 10px;
}
.header{
    background: tomato;
    height: 120px;
}
.nav{
    background-color: plum;
    height: 80px;
}
.footer{
    background-color: skyblue;
    height: 80px;
}
.main{
    background-color: darkkhaki;
    height: 430px;
    padding: 40px;
    font-size: 20px;
    text-align: center; 
}

p{
    text-align: justify;
}
.aside1{
    background-color: yellow;
    text-align: center;
}

/*Responsive*/
@media all and (min-width: 800px){
    .main{
        flex: 2;
    }
    .aside1{
        order: 2;

    }
    .main{
        order:1;
    }
    .footer{
        order: 4;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}